@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Fira Sans", serif;
  background-color: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
}

/* shared styles */

.bg-green {
  background-color: #c6e4d6;
}
.dark {
  color: #0e0e0e;
}
.dark-2 {
  color: rgba(14, 14, 14, 0.5);
}

.btn-primary {
  padding: 17px 34px;
  background-color: #006a50;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #006a50;
  border-radius: 8px;
}
.btn-primary:hover {
  background-color: #024727;
  cursor: pointer;
}
.section-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.section-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

section {
  margin-bottom: 80px;
}

/* ////////////////////////////////////////////// */
/* header section styles */

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
}
nav .btn-secondary {
  background-color: transparent;
  border: 1px solid #006a50;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
}
.btn-secondary:hover {
  background-color: #006a50;
  color: #ffffff;
  cursor: pointer;
}
/* hero section styles */
.hero {
  height: 560px;
  border-radius: 24px;
  max-width: 1280px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 64px;
}
.hero-subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 20px;
}
.hero-text .hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  margin-bottom: 24px;
}
/* main styles */
main {
  max-width: 1280px;
  margin: 0 auto;
}

/* pillars of bd styles */

.pillars-section .card-items {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.pillars-section .card-items .pillar-card {
  width: 302px;
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.pillar-card img {
  margin-bottom: 24px;
}
.pillar-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
  
}
.pillar-card p{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 24px;
}


/* vision section styles */

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.vision-card {
  width: 410px;
  height: auto;
  padding: 32px;
  border-radius: 16px;
}

.vision-card img {
  margin-bottom: 24px;
}
.vision-card .card-title {
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}
.card-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 24px;
}

.vision-card a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  border-radius: 8px;
}
.card-blue {
  background-color: #5490f533;
}
.card-blue a {
  background-color: #5490f5;
}
.card-blue a:hover {
  background-color: #3a7ae9;
}
.card-green {
  background-color: #c6e4d6;
}
.card-green a {
  background-color: #09a15c;
}
.card-green a:hover {
  background-color: #047c46;
}
.card-yellow {
  background-color: #f7ebcf;
}
.card-yellow a {
  background-color: #ffc239;
}
.card-yellow a:hover {
  background-color: #ce9b23;
}
.vision-section .quote {
  /* height: 256px; */
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 48px 24px;
}
.quote {
  background: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top 24px left 24px;
  margin-top: 32px;
}
.quote .quote-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}
.quote h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.quote .quote-footer {
  color: rgba(14, 14, 14, 0.6);
}

/* recent news styles */
.latest-news .news-card {
  background-color: #ffffff;
  padding: 48px;
  border-radius: 16px;
}
.news-card {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  margin-bottom: 16px;
}
.news-card img {
  border-radius: 24px;
}
.card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.card-content .card-logo {
  margin-bottom: 20px;
}
.card-content > .card-description {
  margin: 20px 0 32px;
}
.card-content a {
  text-decoration: none;
  color: #ffffff;
  background-color: #006a50;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 20px;
  border-radius: 8px;
}
.card-content a:hover {
  background-color: #024727;
}

/* donate section styles */
.donate-section {
  text-align: center;
  width: 90%;
  margin: 0 auto 80px;
}
.donate-body {
  margin: 32px 0;
}
.donate-body .donate-items {
  display: flex;
  justify-content: space-between;
}
.donate-items .donate-btn {
  padding: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  font-size: 40px;
  font-weight: 700;
}
.donate-btn:hover {
  background-color: #c6e4d6;
}
.donate-btn:active {
  background-color: #006a50;
  color: #ffffff;
}
.donate-footer input[type="number"] {
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  width: 100%;
  text-align: center;
  height: 64px;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: #ffffff;
  margin: 32px 0;
}
/* subscribe newsletter section */
.subscribe-section {
  padding: 80px 100px;
  border-radius: 16px;
  text-align: center;
}
.subscribe-section form input[type="email"] {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
  height: 55px;
  width: 520px;
  border: none;
  border-radius: 8px 0 0 8px;
  background: #ffffff;
  padding: 0 40px;
}
.subscribe-section form input[type="button"] {
  border-radius: 0 8px 8px 0;
}
.subscribe-section form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
/* footer section styles */
footer {
  max-width: 1280px;
  margin: 50px auto;
  text-align: center;
}
.footer hr {
  width: 80%;
  margin: 30px auto;
  border: 1px solid rgba(14, 14, 14, 0.1);
}
.footer .social-icon {
  display: flex;
  gap: 23px;
  justify-content: center;
}